name: CI checks

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Jekyll
        run: gem install jekyll --user-install

      - name: Check lesson content
        run: make lesson-check

      - name: Try to build handout
        if: always()
        run: make handouts
